@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
button:focus {
  outline: none;
}


@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-BoldIt.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-RegularIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-ExtraBoldIt.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-ThinIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-SemiBoldIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Wright Pro';
  src: url('/fonts/WrightPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

pre {
  font-family: 'Wright Pro', monospace;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500;
}

.token.punctuation {
  @apply text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500 dark:text-cyan-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-zinc-800 dark:text-zinc-100;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-orange-500 dark:text-amber-400;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-cyan-600 dark:text-purple-500;
}

.token.function,
.token.class-name {
  @apply text-purple-600 dark:text-cyan-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-green-500 dark:text-cyan-400;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  @apply rounded-xl;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply rounded-t-2xl bg-zinc-50 px-5 py-3 text-lg font-bold text-zinc-900  first-letter:uppercase dark:bg-zinc-900 dark:text-zinc-50;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply -mx-4 block border-l-4 border-cyan-500 bg-gray-100 px-4 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
}

.highlight-line {
  @apply border-l-black bg-zinc-200 dark:border-l-white dark:bg-zinc-800;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  content: attr(line);
}

.line-number::before {
  @apply text-sm text-zinc-400 dark:text-zinc-600;
}
